.recover-input{
  border-radius: 20px;
  transition: border-color 0.3s ease;
  outline: none;
  box-shadow: none; 
  width: 30vw;
}

.recover-input:focus{
  border-color: var(--trio);
  outline: none;
  box-shadow: none;
} 

.button-recover{
  font-size: 1.4rem;
}