html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.activity-container {
  padding: 20px;
  box-sizing: border-box;
}

.activity-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 2rem;
  color: #000;
}

.activity-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.activity-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  object-fit: cover;
  border-radius: 8px;
}

.activity-details-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
}

.activity-table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

.activity-table td {
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--trio);
}

.table-separator td {
  border-bottom: 1px solid;
}

.icon {
  font-size: 1.1rem;
}

.activity-info-box {
  background-color: #f0f0f0;
  border: 1px solid var(--trio);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  color: #333;
}

.activity-info-text {
  margin: 0;
  font-size: 1rem;
  color: #000;
}

.activity-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.comment-box {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid var(--trio);
}

.comment-box-alternate {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid var(--trio);
}

.comment-header {
  font-size: 1rem;
  color: #000;
}

.comment-text {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #555;
}

@media (max-width: 992px) {
  .activity-image-col {
    margin-bottom: 30px;
  }
}
