.form-input,
.form-select,
.form-datepicker {
  border-radius: 20px;
  transition: border-color 0.3s ease;
  outline: none;
  box-shadow: none;
}

.form-select:focus,
.form-input:focus,
.form-datepicker:focus {
  border-color: var(--trio);
  outline: none;
  box-shadow: none;
}

.form-checkbox .form-check-input {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid var(--trio);
}

.form-checkbox .form-check-input:checked {
  background-color: var(--trio);
  border-color: var(--trio);
}

.form-checkbox .form-check-input:checked::before {
  color: white;
}

.add-activity-datepicker-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 535px;
  width: 100%;
}

.add-activity-calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}