.admin-button {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 20px;
  transition: border-bottom 0.3s;
}

.admin-button:hover{
  border-bottom: 2px solid black;
}

.admin-button-selected {
  background-color: transparent;
  color: #54595E;
  border: none;
  border-bottom: 2px solid #54595E;
  padding: 10px 20px;
  transition: border-bottom 0.3s;
}